@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;


.formContainer {
    height: 100%;
}

.header {
    border-bottom: 0.0625rem solid $grey-2;
    margin: 0;
}

.formContent {
    margin: layout.$spacing-05;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tabletButtons {
    margin-top: layout.$spacing-07;
    padding: layout.$spacing-06 layout.$spacing-05;
    background-color: $ui-02;
}

.desktopButtons {
    margin-top: layout.$spacing-07;
}

.backButton {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: layout.$spacing-03 0;
  
    button {
      display: flex;
      padding-left: 0 !important;
  
      svg {
        order: 1;
        margin-right: layout.$spacing-03;
        margin-left: 0 !important;
        fill: currentColor !important;
      }
  
      span {
        order: 2;
      }
    }
}

.fieldError {
    :global(.cds--number input[type='number']):focus {
        outline: 2.5px solid colors.$red-60;
    }

    input:focus,
    textarea:focus {
        outline: 2.5px solid colors.$red-60;
    }
}

.sectionHeader {
  @include type.type-style('heading-01');
  margin-bottom: layout.$spacing-05;
}

.container {
  margin: layout.$spacing-05;

  & section {
    margin: layout.$spacing-05 0;
  }
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: layout.$spacing-02 0;
  }
}

.timePicker {
  align-items: baseline;
  flex: none;
  margin-left: layout.$spacing-01;

  :global(.cds--form-requirement) {
    max-width: 6rem;
    max-height: 0 !important;
  }
}
